@model List<Emprestimo>
@using System
@{
    ViewData["Title"] = "Listagem de Empréstimos";

    int iPagina = Int32.Parse(ViewData["LivrosPorPagina"].ToString());
    int aPagina = Int32.Parse(ViewData["PaginaAtual"].ToString());
    int nPagina = (Model.Count < iPagina ? Model.Count : iPagina);
    Console.WriteLine("nPagina: " + nPagina);
    
    @* Fiz esse if porque estava dando erro no "nTotalPagina", que estava dividindo por zero. Comete esse if para você replicar o erro. *@
    if (nPagina == 0) { nPagina = 1; }

    int nTotalPagina = Model.Count / nPagina + (Model.Count % nPagina == 0 ? 0 : 1);
    Console.WriteLine("nTotalPagina: " + nTotalPagina);
    string alert = "";
    string alertBtn = "";
}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Usuario">Usuário</option>
                    <option value="Livro">Livro</option>
                </select>
            </div>

            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" id="txtFiltro" />
            </div>

            <div class="form-group mb-2 me-sm-3">
                <select class="form-control" name="iPagina" id="iPagina">
                    <option value="10">10 Livros</option>
                    <option value="30">30 Livros</option>
                    <option value="@Model.Count">Todos</option>
                </select>
            </div>

            <button type="submit" class="btn btn-dark mb-2 mx-sm-3">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Count == 0)
        {
            <br>
            <h3 style="text-align: center;">Nenhum registro encontrado.</h3>
        }
        else
        {
            <table class="table table-dark table-striped" style="text-align: center;">
                <thead class="table-dark table-bordered border-light">
                    <tr>
                        <th>Id</th>
                        <th>Usuário</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = (aPagina - 1) * nPagina; i < (nPagina * aPagina < Model.Count ? nPagina * aPagina :
                   Model.Count); i++)
                    {
                        DateTime hoje = DateTime.Now;
                        Emprestimo e = Model[i];
                        int compare = (DateTime.Compare(e.DataDevolucao, hoje));
                        @*
                            Console.WriteLine("Id do Livro: " + Model[i].Id + "| Título: " + Model[i].Livro.Titulo);
                            Console.WriteLine("Data devolução " + e.DataDevolucao);
                            Console.WriteLine("Data de hoje " + hoje);
                            Console.WriteLine(compare);

                            Calculo do DateTime.Compare:
                            1 = A data de devolução está a frente da data atual;
                            0 = Datas iguais;
                            -1 = A data de devolução já passou em relação a atual ;
                        *@

                        @if (compare == -1)
                        {
                            alert = "table-warning text-dark";
                            alertBtn = "btn btn-dark";
                        }
                        else
                        {
                            alert = "";
                            alertBtn = "btn btn-light";
                        }

                        <tr class="@alert">
                            <td>@Model[i].Id</td>
                            <td>@Model[i].NomeUsuario</td>
                            <td>@Model[i].DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@Model[i].DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@Model[i].Livro.Titulo</td>
                            <td>@Model[i].Livro.Autor</td>
                            <td><a class="@alertBtn" href="/Emprestimo/Edicao/@Model[i].Id">Editar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <div class="d-flex flex-row justify-content-end align-items-center" id="SeletorPagina">
            <span>Página</span>
            @for (int i = 1; i <= nTotalPagina; i++)
            {
                <span style="font-size: 20px; font-weight: bold;">
                    <a class="btn btn-outline-dark btn-sm mx-2" href="/Livro/Listagem?aPagina=@i">@i </a>
                </span>
            }
        </div>
    </div>
</div>
